<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

    <script th:inline="javascript">

        let selectedExtraAmount = 0;

        $(document).ready(function(){

            calculateTotalPrice();

            $("#count").change( function(){
                calculateTotalPrice();
            });

          var errorMessage = [[${errorMessage}]];
            if(errorMessage != null){
                alert(errorMessage);
            }

            bindDomEvent();
        });
      
        function selectOption(selectElement) {
            var selectedOption = selectElement.options[selectElement.selectedIndex];
            selectedExtraAmount = selectedOption.getAttribute('data-extraAmount');
            selectedGbPrice = selectedOption.getAttribute('data-gbPrice');
            $("#totalPrice").html(($("#count").val() * selectedExtraAmount) + '원');
            $("#totalGBPrice").html(($("#count").val() * selectedGbPrice) + '원');
        }

        function calculateTotalPrice(){
            var count = $("#count").val();
            var price = $("#price").val();
            var gbPrice = $("#gbPrice").val();
            if (selectedExtraAmount != 0) {
                price = selectedExtraAmount;
                gbPrice = selectedGbPrice;
            }
            var totalPrice = price*count;
            var totalGBPrice = gbPrice*count;
            $("#totalPrice").html(totalPrice + '원');
            $("#totalGBPrice").html(totalGBPrice + '원');
        }

        function order(){
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/order";
            var paramData = {
                itemId : $("#itemId").val(),
                itemOptionId : $("#option").val(),
                count : $("#count").val()
            };

            var param = JSON.stringify(paramData);

            $.ajax({
                url      : url,
                type     : "POST",
                contentType : "application/json",
                data     : param,
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                    location.href = '/order/' + result;
                },
                error : function(jqXHR, status, error){

                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                        alert(jqXHR.responseText);
                    }

                }
            });
        }

        function groupOrder(){
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/grouporder";
            var paramData = {
                itemId : $("#itemId").val(),
                itemOptionId : $("#option").val(),
                count : $("#count").val()
            };

            var param = JSON.stringify(paramData);

            $.ajax({
                url      : url,
                type     : "POST",
                contentType : "application/json",
                data     : param,
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                    location.href = '/order/' + result;
                },
                error : function(jqXHR, status, error){

                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    }
                    else if(jqXHR.status == '208'){
                        // alert('자신의 공동구매에 매칭될 수 없습니다.');
                        location.href='/item/'+ paramData.itemId;
                    } else{
                        alert(jqXHR.responseText);
                    }
                }
            });
        }

        function addCart(){
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/cart";
            var paramData = {
                itemId : $("#itemId").val(),
                itemOptionId : $("#option").val(),
                count : $("#count").val()
            };

            var param = JSON.stringify(paramData);

            $.ajax({
                url      : url,
                type     : "POST",
                contentType : "application/json",
                data     : param,
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                    alert("상품을 장바구니에 담았습니다.");
                    location.href='/';
                },
                error : function(jqXHR, status, error){

                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                        alert(jqXHR.responseText);
                    }

                }
            });
        }
        function groupBuyList(itemId) {
            const popOption = "width = 650px, height=550px, top=300px, left=300px, scrollbars=yes";
            const openUrl = '/item/' + itemId + '/groupBuyList';
            window.open(openUrl, 'groupBuy', popOption);
        }
    </script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        html {
            scroll-behavior: smooth;
        }
        .mgb-15{
            margin-bottom:15px;
        }
        .mgt-30{
            margin-top:30px;
        }
        .mgt-50{
            margin-top:50px;
        }
        .repImgDiv{
            height:auto;
        }
        .repImg{
            width:100%;
            height:400px;
        }

        .thumbnail-img {
            width:350px;
            height:350px;
        }

        .detail-line {
            border-top: 1px solid #efefef;
            padding: 5px 3px;
            height: 50px;
        }

        .detail-title {
            width:100px;
            display: flex;
            align-items: center;
        }

        .detail-content {
            display: flex;
            align-items: center;
        }
    </style>
</th:block>

<div layout:fragment="content">

    <input type="hidden" id="itemId" th:value="${item.id}">

    <div class="flex w-full">
        <div class="repImgDiv px-4 py-4">
            <img th:src="${item.itemImgDtoList[0].imgUrl}" class = "rounded repImg thumbnail-img" th:alt="${item.itemNm}">
        </div>
        <div class="flex-grow px-4 py-4">
            <span th:if="${item.itemSellStatus == T(com.shop.farmmunity.domain.item.constant.ItemSellStatus).SELL}" class="badge badge-accent badge-outline">
                판매중
            </span>
            <span th:if="${item.itemSellStatus == T(com.shop.farmmunity.domain.item.constant.ItemSellStatus).SELL}" class="badge badge-error">
                공동구매 진행중
            </span>
            <span th:unless="${item.itemSellStatus == T(com.shop.farmmunity.domain.item.constant.ItemSellStatus).SELL}" class="badge badge-accent badge-outline" >
                품절
            </span>
            <div class="h4 text-4xl font-bold my-4" th:text="${item.itemNm}"></div>

            <div class="item-detail-box">
                <div class="h4 text-danger text-left">
                    <dl class="detail-line price-box flex flex-row">
                        <dt class="detail-title font-bold">
                            <span th:text="가격"></span>
                        </dt>
                        <dd class="detail-content">
                            <input type="hidden" th:value="${item.price}" id="price" name="price">
                            <span th:text="${item.price}"></span>원
                        </dd>
                    </dl>

                    <dl class="detail-line price-box flex flex-row">
                        <dt class="detail-title font-bold">
                            <span th:text="공동구매가"></span>
                        </dt>
                        <dd class="detail-content">
                            <input type="hidden" th:value="${item.discount}" id="gbPrice" name="gbPrice">
                            <span th:text="${item.discount}"></span>원
                        </dd>
                    </dl>

                    <dl class="detail-line count-box flex flex-row">
                        <dt class="detail-title font-bold">
                            <span th:text="재고"></span>
                        </dt>
                        <dd class="detail-content">
                            <span th:if="${item.itemSellStatus == T(com.shop.farmmunity.domain.item.constant.ItemSellStatus).SELL}" th:text="|${item.stockNumber}개 남음|"></span>
                            <span th:unless="${item.itemSellStatus == T(com.shop.farmmunity.domain.item.constant.ItemSellStatus).SELL}">-</span>
                        </dd>
                    </dl>
                    <dl class="detail-line count-box flex flex-row">
                        <dt class="detail-title font-bold">
                            <span th:text="옵션"></span>
                        </dt>
                        <dd class="detail-content">
                            <select id="option" class="select select-bordered w-full" th:if="${item.getItemOptionDtoList().size() != 0}" onchange="selectOption(this)">
                                <option th:value="0">옵션을 선택해주세요</option>
                                <option th:each="option : ${item.getItemOptionDtoList()}" th:value="${option.id}" th:text="${option.optionName + ' ' + option.quantity + '개 남음 ' + option.extraAmount + '원'}" th:data-extraAmount="${option.extraAmount}" th:data-gbPrice="${option.gbPrice}"></option>
                            </select>
                            <span th:if="${#arrays.isEmpty(item.getItemOptionDtoList())}" th:text="--"></span>
                        </dt>
                        </dd>
                    </dl>

                    <dl class="detail-line count-box flex flex-row">
                        <dt class="detail-title font-bold">
                            <span th:text="주문수량"></span>
                        </dt>
                        <dd class="detail-content">
                            <input type="number" name="count" id="count" class="input input-bordered h-10 w-20 mr-2 text-lg" value="1" min="1"> 개
                        </dd>
                    </dl>

                    <dl class="detail-line count-box flex flex-row">
                        <dd class="detail-content flex justify-between w-full">
                            <span>현재까지 <span th:text="${groupBuyInfo.getCount()}" class="font-bold text-accent"></span>명 공동구매 완료!</span>
                            <button class="btn btn-sm btn-accent" th:value="${item.id}" onclick="groupBuyList(this.value)">공동구매 성공 목록</button>
                        </dd>
                    </dl>

                    <dl class="detail-line count-box flex flex-row">
                        <dd class="detail-content w-full">
                            <div th:if="${(groupBuyInfo.username) != null}" class="flex justify-between w-full">
                                <span><span class="font-bold text-error" th:text="${groupBuyInfo.username}"></span> 님이 함께 구매할 분을 찾고 있습니다.</span>
                                <span>매칭 마감 시간 : <span class="font-bold text-warning" th:text="${groupBuyInfo.getMatchEndTime()}"></span></span>
                            </div>

                            <div th:unless="${(groupBuyInfo.username) != null}">
                                <span class="font-bold text-warning" >대기열이 없습니다.</span>
                            </div>
                        </dd>
                    </dl>
                </div>

                <div class="text-right my-2">
                    <span class="font-bold">
                        <span th:if="${item.itemSellStatus == T(com.shop.farmmunity.domain.item.constant.ItemSellStatus).SELL}" class="mr-2">총 결제 금액: </span>
                        <span th:if="${item.itemSellStatus == T(com.shop.farmmunity.domain.item.constant.ItemSellStatus).SELL}" class="text-3xl text-accent"><h3 name="totalPrice" id="totalPrice" class="font-weight-bold" style="display: contents;"></h3></span>

                        <span th:if="${item.itemSellStatus == T(com.shop.farmmunity.domain.item.constant.ItemSellStatus).SELL}" class="mr-2">공동구매시 총 결제 금액: </span>
                        <span th:if="${item.itemSellStatus == T(com.shop.farmmunity.domain.item.constant.ItemSellStatus).SELL}" class="text-3xl text-error"><h3 name="totalGBPrice" id="totalGBPrice" class="font-weight-bold" style="display: contents;"></h3></span>
                        <span th:unless="${item.itemSellStatus == T(com.shop.farmmunity.domain.item.constant.ItemSellStatus).SELL}">구매 불가</span>
                    </span>
                </div>

                <div th:if="${item.itemSellStatus == T(com.shop.farmmunity.domain.item.constant.ItemSellStatus).SELL}" class="text-right">
                    <button type="button" class="btn btn-accent" onclick="addCart()">장바구니 담기</button>
                    <button type="button" class="btn btn-warning" onclick="order()">주문하기</button>
                    <button type="button" class="btn btn-warning" onclick="groupOrder()">공동구매 주문하기</button>
                </div>
                <div th:unless="${item.itemSellStatus == T(com.shop.farmmunity.domain.item.constant.ItemSellStatus).SELL}" class="text-right">
                    <span class="text-3xl font-bold text-red-700">품절</span>
                </div>
            </div>
        </div>
    </div>

    <div th:utext="${item.extra_itemTagLinks}"></div>

    <div class="tabs menu-container flex flex-row w-full">
        <a class="tab tab-bordered tab-active item-detail-box w-4/12" href="#item-detail">상품 정보</a>
        <a class="tab tab-bordered tab-active item-review-box w-4/12" href="#review">상품 리뷰</a>
        <a class="tab tab-bordered tab-active item-faq-box w-4/12">문의 하기</a>
    </div>

    <div class="jumbotron jumbotron-fluid mgt-30">
        <div class="container" id="item-detail">
            <h4 class="h4 text-3xl font-bold my-4 ml-3">상품 상세 설명</h4>
            <p class="m-3 p-3 text-lg" th:text="${item.itemDetail}" style="border-top: 1px solid #efefef;"></p>
            <div th:each="itemImg : ${item.itemImgDtoList}" class="flex justify-center">
                <img th:if="${not #strings.isEmpty(itemImg.imgUrl)}" th:src="${itemImg.imgUrl}" class="rounded mgb-15" width="800">
            </div>
        </div>
    </div>

    <div class="container my-3" id="review">
        <table class="table">
            <thead>
            <h4 class="h4 text-3xl font-bold my-4 ml-3" th:text="|${#lists.size(reviews)}개의 후기|"></h4>
            <tr style="border-top: 1px solid #efefef;" class="flex-none">
                <th style="width:800px;" class="text-base">내용</th>
                <th class="text-base">작성일시</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="review : ${reviews}">
                <td th:text="${review.contents}"></td>
                <td th:text="${#temporals.format(review.regTime, 'yyyy-MM-dd HH:mm')}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</html>