<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<body>
<main layout:fragment="content">
  <section class="section">
    <div class="container">
      <h1 class="font-bold text-lg">
        <i class="fa-solid"></i>
        <a th:href="@{|/item/tag/${tagContent}|}" class="text-link">
          <i class="fa-solid fa-hashtag"></i>"[[${tagContent}]]"
        </a>
        <span> 관련 상품</span>
      </h1>

      <div class="item-box-new grid grid-cols-4 gap-5")>
        <th:block th:each="item, status: ${items}">
          <div class="item-new">
            <div class="card">
              <a th:href="'/item/' +${item.id}" class="text-dark">
                <div class="card-body">
                  <h4 class="card-title" style="text-overflow: ellipsis;">[[${item.itemNm}]]</h4>
                  <p class="card-text">[[${item.itemDetail}]]</p>
                  <h3 class="card-title text-danger">[[${item.price}]]원</h3>
                </div>
              </a>
            </div>
          </div>
        </th:block>
      </div>
    </div>
  </section>

</main>
</body>
