<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">

        $(document).ready(function(){
            $("#searchBtn").on("click",function(e) {
                e.preventDefault();
                page(0);
            });
        });

        function page(page){
            var searchDateType = $("#searchDateType").val();
            var searchBy = $("#searchBy").val();
            var searchQuery = $("#searchQuery").val();

            location.href="/reviews/" + page
                + "?searchDateType=" + searchDateType
                + "&searchBy=" + searchBy
                + "&searchQuery=" + searchQuery;
        }

    </script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        select{
            margin-right:10px;
        }
    </style>
</th:block>

<div layout:fragment="content">

    <p class="text-3xl font-bold my-4 ml-3 pb-3">
        리뷰 관리
    </p>
    <form th:action="@{'/reviews/' + ${reviews.number}}" role="form" method="get" th:object="${reviews}">
        <table class="table w-full">
            <thead>
            <tr>
                <td style="width: 30px;">리뷰 번호</td>
                <td>리뷰 내용</td>
                <td>등록일</td>
                <td>리뷰 관리</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="review, status: ${reviews.getContent()}">
                <td th:text="${review.id}"></td>

                <td>
                    <a th:href="'/item/'+ ${review.item.id}" th:text="${review.contents}"></a>
                </td>

                <td th:text="${#temporals.format(review.regTime, 'yyyy-MM-dd HH:mm')}"></td>

                <td>
                    <a class="btn btn-error btn-sm" th:href="'/reviews/delete/'+ ${review.id}" th:text="삭제"></a>
                </td>
            </tr>
            </tbody>
        </table>

        <div th:with="start=${(reviews.number/maxPage)*maxPage + 1}, end=(${(reviews.totalPages == 0) ? 1 : (start + (maxPage - 1) < reviews.totalPages ? start + (maxPage - 1) : reviews.totalPages)})" >
            <ul class="flex join justify-center mt-5">

                <li class="join-item btn" th:if="${!reviews.isFirst()}">
                    <a th:onclick="'javascript:page(' + ${reviews.number - 1} + ')'" aria-label='이전' class="page-link">
                        <span aria-hidden='true'>이전</span>
                    </a>
                </li>

                <li class="join-item btn" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${reviews.number eq page-1}?'active':''">
                    <a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text" class="page-link">[[${page}]]</a>
                </li>

                <li class="join-item btn" th:if="${!reviews.isLast()}">
                    <a th:onclick="'javascript:page(' + ${reviews.number + 1} + ')'" aria-label='다음' class="page-link">
                        <span aria-hidden='true'>다음</span>
                    </a>
                </li>

            </ul>
        </div>

        <div class="flex justify-center flex-row mt-5" th:object="${reviewSearchDto}">
            <select class="select select-bordered w-full max-w-xs" th:field="*{searchDateType}" style="width:auto;">
                <option value="all">전체기간</option>
                <option value="1d">1일</option>
                <option value="1w">1주</option>
                <option value="1m">1개월</option>
                <option value="6m">6개월</option>
            </select>
            <select class="select select-bordered w-full max-w-xs" th:field="*{searchBy}" style="width:auto;">
                <option value="contents">내용</option>
            </select>
            <input th:field="*{searchQuery}" type="text" class="input input-bordered input-accent w-full max-w-xs" placeholder="검색어를 입력해주세요">
            <button id="searchBtn" type="submit" class="btn btn-accent">검색</button>
        </div>
    </form>

</div>

</html>