<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

</head>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script src="https://js.tosspayments.com/v1"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <script th:inline="javascript">
        const orderId = /*[[ ${order.orderId} ]]*/ null;
        const orderName = /*[[ ${order.orderName} ]]*/ null;
        const totalPrice = /*[[ ${order.totalPrice} ]]*/ null;
        const CLIENT_KEY = /*[[ ${order.CLIENT_KEY} ]]*/ null;
        const baseUrl = /*[[ ${order.baseUrl} ]]*/ null;
    </script>

    <script>
        var urlParams = new URLSearchParams(window.location.search);
        var msg = urlParams.get('msg');
        let selectedId = null;

        if (msg) {
            alert(decodeURIComponent(msg));
            window.location.href = '/orders';
        }

        const tossPayments = TossPayments(CLIENT_KEY);

        function orderCpmplete() {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/order/" + orderId + "/complete";
            var paramData = {
                customerName: $("#customerName").val(),
                contact: $("#contact").val(),
                customerEmail: $("#customerEmail").val(),
                shippingName: $("#shippingName").val(),
                recipientName: $("#recipientName").val(),
                recipientContact: $("#recipientContact").val(),
                zipcode: $("#zipcode").val(),
                addr: $("#addr").val(),
                addr_detail: $("#addr_detail").val(),
                comment: $("#comment").val()
            };

            var param = JSON.stringify(paramData);

            $.ajax({
                url: url,
                type: "POST",
                contentType: "application/json",
                data: param,
                beforeSend: function (xhr) {
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType: "json",
                cache: false,
                success: function () {
                    payment();
                },
                error: function (jqXHR) {

                    if (jqXHR.status == '401') {
                        alert('로그인 후 이용해주세요');
                        location.href = '/members/login';
                    } else {
                        var errors = jqXHR.responseJSON;
                        displayErrors(errors);
                    }
                }
            });
        }

        function selectAddress() {
            const popOption = "width = 650px, height=550px, top=300px, left=300px, scrollbars=yes";
            const openUrl = '/members/mypage/address/select';
            const childWindow = window.open(openUrl, 'select', popOption);

            window.addEventListener('message', function(event) {
                if (event.data.type === 'selectedId') {
                    selectedId = event.data.selectedId;
                    receiveSelectedId(selectedId);

                    childWindow.close();
                }
            });
        }

        function receiveSelectedId(selectedId) {
            const apiEndpoint = baseUrl + `/members/mypage/address/select/${selectedId}`
            fetch(apiEndpoint)
                .then(response => response.json())
                .then(data => {
                    const shippingName = document.getElementById('shippingName');
                    const recipientName = document.getElementById('recipientName');
                    const recipientContact = document.getElementById('recipientContact');
                    const zipcode = document.getElementById('zipcode');
                    const addr = document.getElementById('addr');
                    const addr_detail = document.getElementById('addr_detail');
                    shippingName.value = data.shippingName;
                    recipientName.value = data.recipientName;
                    recipientContact.value = data.recipientContact;
                    zipcode.value = data.zipcode;
                    addr.value = data.addr;
                    addr_detail.value = data.addr_detail;
                })
                .catch(error => {
                    alert(error);
                });
        }

        function displayErrors(errors) {
            $(".fieldError").hide().text("");

            for (var fieldName in errors) {
                var errorElement = $("#" + fieldName + "Error");
                var inputElement = $("#" + fieldName);

                if (errorElement.length > 0) {
                    if (errors[fieldName]) {
                        errorElement.text(errors[fieldName]);
                        errorElement.show();
                        inputElement.addClass("is-invalid");
                    } else {
                        errorElement.hide();
                        inputElement.removeClass("is-invalid");
                        inputElement.val("");
                    }
                }
            }
        }

        function handleSelectChange() {
            var selectElement = document.querySelector(".select");
            var commentInput = document.getElementById("comment");
            var selectedOption = selectElement.options[selectElement.selectedIndex].value;

            if (selectedOption === "직접입력") {
                commentInput.setAttribute("type", "text");
                commentInput.setAttribute("value", "");
            } else {
                commentInput.setAttribute("type", "hidden");
                commentInput.setAttribute("value", selectedOption);
            }
        }

        function payment() {
            const method = '카드'; // "카드" 혹은 "가상계좌"

            const paymentData = {
                amount: totalPrice,
                orderId: "order__" + orderId + "__" + (Math.random() + "").substring(2), // orderId는 6자 이상이여야 함
                orderName: orderName,
                customerName: $("#customerName").val(),
                customerEmail: $("#customerEmail").val(),
                successUrl: baseUrl + '/' + orderId +'/success',
                failUrl: baseUrl + '/' + orderId +'/fail'
            };

            tossPayments.requestPayment(method, paymentData);
        }
    </script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .content-mg {
            margin-left: 25%;
            margin-right: 25%;
            margin-top: 2%;
            margin-bottom: 100px;
        }

        .repImg {
            height: 100px;
            width: 100px;
        }

        .repImgDiv {
            padding: 10px;
            text-overflow: ellipsis;
        }

        .order-box {
            width: 700px;
        }

        .order-line {
            border-bottom: 1px solid #efefef;
        }

        .fieldError {
            color: #bd2130;
            font-size: 0.875rem;
            line-height: 1.25rem;
            width:100%;
            padding-top: 0.5rem;
            padding-left: 0.5rem;
        }
        #inlineh3 {
            display: inline-block;
        }
    </style>
</th:block>

<div layout:fragment="content" class="content-mg">

    <div class="flex w-full justify-center">
        <div class="flex flex-col" style="width: 650px;">
            <p class="text-3xl font-bold my-4 ml-3">
                주문 상세 내역
            </p>
            <div class="flex w-full justify-center">
                <div class="order-box card bg-base-100 shadow-xl">
                    <div class="card-body">
                        <h3 class="card-title text-2xl" th:text="${'주문명 : ' + order.getOrderName()}"></h3>
                        <div th:each="orderItem : ${order.getOrderItemDtlDtos()}" class="flex mb-3 order-line">
                            <div class="flex">
                                <div class="repImgDiv">
                                    <img th:src="${orderItem.imgUrl}" class="rounded repImg"
                                         th:alt="${orderItem.itemNm}">
                                </div>
                                <div class="text-base repImgDiv" style="width: 350px">
                                    <div class="font-bold" th:text="${'상품 이름 : ' + orderItem.itemNm}"></div>
                                    <div th:text="${'상품 가격 : ' + orderItem.orderPrice} +'원'"></div>
                                    <div th:text="${'주문 개수 : ' + orderItem.count} +'개'"></div>
                                    <div th:text="${'주문 번호 : ' + order.getOrderId() + '번'}"></div>
                                </div>
                            </div>
                        </div>

                        <h3 class="card-title text-2xl">주문하시는 분</h3>
                        <div class="join-form flex justify-center flex-col">
                            <dl class="mb-3">
                                <dt class="detail-title">
                                    <label>이름</label>
                                </dt>
                                <dd class="detail-content">
                                    <input type="text" id="customerName" class="input  input-bordered w-full"
                                           placeholder="이름을 입력해주세요" th:value="${member.getUsername()}">
                                    <div id="customerNameError" class="fieldError"></div>
                                </dd>
                            </dl>
                            <dl class="mb-3">
                                <dt class="detail-title">
                                    <label>연락처</label>
                                </dt>
                                <dd class="detail-content">
                                    <input type="text" id="contact" class="input input-bordered w-full"
                                           placeholder="'-'없이 숫자 입력">
                                    <div id="contactError" class="fieldError"></div>
                                </dd>
                            </dl>
                            <dl class="mb-3 order-line">
                                <dt class="detail-title">
                                    <label>이메일</label>
                                </dt>
                                <dd class="detail-content">
                                    <input type="text" id="customerEmail" class="input input-bordered w-full"
                                           placeholder="이메일을 입력해주세요" th:value="${member.getEmail()}">
                                    <div id="customerEmailError" class="fieldError"></div>
                                </dd>
                            </dl>
                        </div>
                        <div class="d-inline-flex">
                            <h3 class="card-title text-2xl" id="inlineh3">받으시는 분</h3>
                                    <button type="button" class="btn btn-primary float-right mb-3 ml-1"
                                            onclick="selectAddress()">배송지 변경</button>
                        </div>
                        <div class="join-form flex justify-center flex-col">
                            <dl class="mb-3">
                                <dt class="detail-title">
                                    <label>배송지명</label>
                                </dt>
                                <dd class="detail-content">
                                    <input type="text" id="shippingName" class="input input-bordered w-full"
                                           placeholder="배송지명을 입력해주세요">
                                    <div id="shippingNameError" class="fieldError"></div>
                                </dd>
                            </dl>
                            <dl class="mb-3">
                                <dt class="detail-title">
                                    <label>이름</label>
                                </dt>
                                <dd class="detail-content">
                                    <input type="text" id="recipientName" class="input input-bordered w-full"
                                           placeholder="이름을 입력해주세요">
                                    <div id="recipientNameError" class="fieldError"></div>
                                </dd>
                            </dl>
                            <dl class="mb-3">
                                <dt class="detail-title">
                                    <label>연락처</label>
                                </dt>
                                <dd class="detail-content">
                                    <input type="text" id="recipientContact" class="input input-bordered w-full"
                                           placeholder="연락처를 입력해주세요">
                                    <div id="recipientContactError" class="fieldError"></div>
                                </dd>
                            </dl>
                            <dl class="mb-3">
                                <dt class="detail-title mb-3">
                                    <label>주소</label>
                                </dt>
                                <dd class="detail-content">
                                    <input type="text" id="zipcode" class="input input-bordered"
                                           placeholder="우편번호" readonly>
                                    <div id="zipcodeError" class="fieldError"></div>
                                </dd>
                            </dl>
                            <dl class="mb-3">
                                <dd class="detail-content">
                                    <input type="text" id="addr" class="input input-bordered w-full"
                                           placeholder="기본주소" readonly>
                                    <div id="addrError" class="fieldError"></div>
                                </dd>
                            </dl>
                            <dl class="mb-3">
                                <dt class="detail-title">
                                    <label>상세 주소</label>
                                </dt>
                                <dd class="detail-content">
                                    <input type="text" id="addr_detail" class="input input-bordered w-full"
                                           placeholder="상세 주소를 입력해주세요">
                                </dd>
                            </dl>
                            <dl class="mb-3">
                                <dd class="detail-content">
                                    <select class="select select-bordered w-full" onchange="handleSelectChange()">
                                        <option value="">배송 요청사항을 선택해주세요.</option>
                                        <option value="배송전, 연락바랍니다.">배송전,연락바랍니다.</option>
                                        <option value="부재시, 경비실에 맡겨 주세요.">부재시, 경비실에 맡겨 주세요.</option>
                                        <option value="부재시, 전화 또는 문자 연락 주세요.">부재시, 전화 또는 문자 연락 주세요.</option>
                                        <option value="택배함에 넣어주세요.">택배함에 넣어주세요.</option>
                                        <option value="파손위험이 있는 상품이니 조심히 다뤄주세요.">파손위험이 있는 상품이니 조심히 다뤄주세요.</option>
                                        <option value="문 앞에 놓아주세요.">문 앞에 놓아주세요.</option>
                                        <option value="직접입력">직접입력</option>
                                    </select>
                                </dd>
                            </dl>
                            <dl>
                                <input type="hidden" id="comment" class="input input-bordered w-full"
                                       placeholder="배송시 요청사항을 입력해 주세요.">
                            </dl>
                        </div>

                        <div class="flex flex-col">
                            <div class="text-xl font-bold text-center mb-2">
                                총 주문 금액 : <span class="text-accent" th:text="${order.getTotalPrice() + '원'}">0원</span>
                            </div>
                            <button type="button" class="btn btn-accent" onclick="orderCpmplete()">주문하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>